.google{
    color: rgb(253, 9, 9);
    font-size: 20px;
    display: block;
}

.instagram{
    color: rgb(224, 28, 28);
    font-size: 20px;
    display: block;
}

.tiktok{
    color: rgb(241, 17, 17);
    font-size: 20px;
    display: block;
}

.encabezado{
    color: rgb(241, 17, 17);
    font-size: 20px;
    display: block;
}

.etiqueta{
    color: rgb(241, 17, 17);
    font-size: 20px;
    display: block;
}
